.main__left {
    padding-top: 5px;
    padding-left: 30px;

}

.main__left--top > div,
.main__left--middle > div,
.main__left--bottom > div {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.main__left--top > div > span,
.main__left--middle > div >span,
.main__left--bottom > div > span {
    margin-left: 5px;
}

.main__left--top > div {
    margin-top: 5px;
}

.main__left--middle {
    margin-top: 30px;
    margin-bottom: 30px;
}

.main__left--menu a {
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
}

.main__left--top--new-feed {
    background-color: white;
    border-radius: 10px;
}

.main__left--top--new-feed > div {
    display: flex;
    align-items: center;
    justify-content: left;
}

.bulet {
    align-items: center;
}
.main__left--top--new-feed > div > span {
    margin-left: 5px;
}

.main__left--top--new-feed > div:last-child {
    margin-left: 30px;
    font-style: bold;
}

.main__left--bottom div {
    margin-top: 5px;
}