* {
    box-sizing: border-box;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery img {
    width: 100%;
    height: auto;
}

.col-3 {
    width: 25%;
    float: left;
}

header,
.col-3 {
    padding: 0 6px; 
    margin: 6px 0;
}

footer {
    padding: 6px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 700px){
    .col-3 {
        width: 49.99%;
        float: left;
    }
}

@media only screen and (max-width: 500px){
    .col-3 {
        width: 100%;
        float: left;
    }
}