div.container {
    margin: 25px;
    padding: 35px;
    width: 200px;
    background-color: rgb(252, 254, 253);
    border: 20px solid rgb(3, 241, 3);
    color: rgb(3, 241, 3);
    align-content: center;
 }

 div.content {
    background-color: rgb(111, 111, 109);
    text-align: center;
 }