* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* title */
.title {
    text-align: center;
    padding: 70px;
}

.title p {
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.title p:after {
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019578, #fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.title h1 {
    font-size: 50px;
}