footer {
    padding: 100px 0 20px;
    background: #efefef;
    position: relative;
}

.footer__area {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__left,
.footer__right {
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.footer__right {
    text-align: right;
}

.footer__area h1 {
    margin: 10px 0;
}

.footer__area p {
    line-height: 35px;
}

.footer__img { 
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform:  translate(-50%, -50%);
}

.social-links {
    text-align: center;
}

.social-links .bi {
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    margin: 40px 5px 0;
    color: #009688;
    cursor: pointer;
    transform: .5s;
}

.social-links .bi:hover {
    color: #ff9900;
}

.social-links p {
    font-size: 12px;
    margin-top: 20px;
}

.footer__left .bi,
.footer__right .bi {
    font-size: 20px;
    color: #009688;
    margin: 10px;
}

