.testimonial {
    width: 100%;
    padding: 70px 0;
}

.testimonial__area {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.testimonial__content {
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #00968814;
    cursor: pointer;
    transition: transform .5s;
}

.testimonial__content p {
    font-size: 14px;
}

.user {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.user img {
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}

.user__info .bi {
    margin-left: 10px;
    font-size: 20px;
    color: #009688;
}

.user__info small {
    color: #009688;
}

.testimonial__content:hover {
    transform: translateY(7px);
}