body {
    background-color: #CDCDCD;
    padding: 0;
    margin: 0;
}

ul {
    padding-inline-start: 40px;
}

.col-12 {
    width: 100%;
    float: left;
}

.col-md-2 {
    width: 16.66%;
    float: left;
}

.col-md-8 {
    width: 66.66%;
    float: left;
}

.col-md-10 {
    width: 83.33%;
    float: left;
}

.header, .footer {
    background-color: black;
    line-height: 30px;
}

.header--left__menu, .header--right__loginbtn {
    list-style-type: none;
}

.header--left__menu li {
    display: inline;
    margin-right: 10px;
}

.header--left__menu li a, .header--right__loginbtn li a{
    text-decoration: none;
    color: white;
}

.footer {
    text-align: center;
    color: white;
}

.header--right a {
    text-decoration: none;
    margin-top: 10px;
}

.slidebar-link ul {
    list-style-type: none;
}

.slidebar-link ul li{
    list-style-type: none;
    margin-top: 20px;
}

.slidebar-link ul li a{
    text-decoration: none;
    color: rgb(9, 138, 237);
    margin: 20px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.content { 
    background-color: white;
    padding: 10px;
    height: 65vh;
}

.aside {
    padding: 10px;
}

.aside__ads {
    margin: 5px;
    text-align: center;
    line-height: 5em;
    border: 1px solid rgb(152, 156, 157);
}

/* css for media */
@media only screen and (max-width: 620px) {
    ul {
        padding-inline-start: 0;
    }
    
    .col-md-2 {
        width: 100%;
        float: left;
    }
    
    .col-md-8 {
        width: 100%;
        float: left;
    }
    
    .col-md-10 {
        width: 100%;
        float: left;
    }

    .header--right {
        display: none;
    }

    .header--left__menu, .slidebar-link--list {
        display: flex;
        flex-direction: column;
    }

    .header--left__menu li, .slidebar-link--list li {
        width: 100%;
        text-align: center;
    }
}